#lectureRegistrationMainContent {
    max-width: 1500px;
    min-width: 300px;
    margin: 0 auto;
    margin-bottom: 100px;
    text-align: center;
    align-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
}