.dropDown {
width: 200px;
height: 40px;
}

#buttonMenu {
display: grid;
grid-template-columns: 1fr;
grid-row-gap: 35px;
width: 50%;
}

#mainContentSubjectDetailsPage {
    max-width: 1500px;
    min-width: 300px;
    margin: 0 auto;
    margin-bottom: 100px;
}

