html {
    font-family: PT Sans;
    padding: 0;
    margin: 0 auto;
}

body {
    margin: 0 auto;
}

#timeTablePage {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 100px;
}

.timeTable {
    margin: 0 auto;
    max-width: 1000px;
    min-width: 300px;
}


.fc-media-screen {
    position:relative;
    max-height: 650px !important;
}