.popup{
    position: fixed;
    top: 45%;
    left: 50%;
    height: 85vh;
    width: 100%;
    max-width: 800px;
    background-color: white;
    padding: 15px;

    transform: translate(-50%, -50%);
    box-shadow: 0 10px 30px rgba(0,0,0,.40);
}

.blurable {
    transition: 0.2s;
}

.blurable.blur {
    pointer-events: none;
    user-select: none;
}