#registrationTable {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black;
    margin-top: 20px;
    margin-bottom: 100px;
}

#registrationTable > tbody tr:nth-child(even) {
    background-color: rgba(255, 181, 84, 0.3);
}

#registrationTable > tbody tr:nth-child(odd) {
    background-color: rgba(255, 181, 84, 0.6);
}

#registrationTable > thead tr:nth-child(1) {
    background-color: lightgray;
}

#registrationTable > tr,
#registrationTable > th,
#registrationTable > td {
padding: 10px;
text-align: left;
}

#registrationTable>tbody>tr:hover td,
#registrationTable>tbody>tr:hover th {
    background-color: rgba(255, 0, 0, 0.1)!important;
}
